<div class="bg-image flex justify-content-center align-items-center
 zoomin animation-duration-1000 animation-iteration-1"
     style='background-image: url("assets/images/partners-page/ourPartners.jpg")'>
</div>

<div class="my-4 zoomin animation-duration-1000 animation-iteration-1">
  <p-fieldset>
    <ng-template pTemplate="header">
      <div class="flex align-items-center gap-1 px-2">
        <p-avatar
          [image]="'assets/images/logo.png'"
          shape="circle"/>
        <span class="font-bold">GEOSCAPE</span>
      </div>
    </ng-template>
    <p class="m-0">
      At GEOSCAPE, we believe in the power of collaboration and building strong partnerships
      to enhance our services and offerings. We are proud to partner with some of the best in
      the industry to bring you top-quality products and services. </p>
  </p-fieldset>
</div>


<div class="my-4">
  <p-fieldset>
    <ng-template pTemplate="header">
      <div class="flex align-items-center gap-1 px-2">
        <p-avatar
          [image]="'assets/images/benito-logo.jpg'"
          shape="square"/>
        <span class="font-bold"> BENITO Urban </span>
      </div>
    </ng-template>

    <p class="ml-3">We are excited to introduce our esteemed partner, BENITO Urban. BENITO Urban is a renowned
      leader in urban furniture, playgrounds and outdoor fitness solutions. Their commitment to
      innovation, quality, and sustainability aligns perfectly with our values and mission.</p>
    <div class="my-1 Website"><span class="font-bold">Website : </span> <a href="https://www.benito.com/" target="_blank"> benito.com</a></div>
    <div class="my-3"><span class="font-bold">Specialty : </span><span> Urban furniture, playgrounds, outdoor fitness solutions</span></div>
    <div class="my-1"><span class="font-bold">Commitment : </span><span> Innovation, quality, sustainability
Together with BENITO Urban, we strive to create exceptional environments that enhance community
well-being and foster a healthier, more active lifestyle. Our partnership ensures that we can
offer you the best products and solutions to meet your needs.

  </span></div>
    <p>
      Explore our range of offerings and discover how our collaboration with BENITO Urban can benefit you.
      Visit BENITO Urban for more information about their exceptional products and services.
    </p>
  </p-fieldset>
</div>


<!--  <div><h2>About BENITO Urban:</h2></div>-->
<!--  <div><h3 class="inline-block">Website : </h3> <a>benito.com</a></div>-->
<!--  <div><h3 class="inline-block">Specialty : </h3><span> Urban furniture, playgrounds, outdoor fitness solutions</span></div>-->
<!--  <div><h3 class="inline-block">Commitment : </h3><span>Innovation, quality, sustainability-->

<!--Together with BENITO Urban, we strive to create exceptional environments that enhance community-->
<!--well-being and foster a healthier, more active lifestyle. Our partnership ensures that we can-->
<!--offer you the best products and solutions to meet your needs.-->

<!--  </span></div>-->

