<div class="bg-image flex justify-content-center align-items-center
 zoomin animation-duration-1000 animation-iteration-1"
     style='background-image: url("assets/images/about-page/about.webp")'>
  <div style="z-index: 100000;"><h2 class="text-white">About Us</h2></div>

</div>

<div class="my-4 zoomin animation-duration-1000 animation-iteration-1">
  <p-fieldset class="fieldset">
    <ng-template pTemplate="header">
      <div class="flex align-items-center gap-1 px-2">
        <p-avatar
          [image]="'assets/images/logo.webp'"
          shape="circle"/>
        <span class="font-bold greenColor ml-2">Our Story</span>
      </div>
    </ng-template>

    <div class="grid w-full mx-auto">
      <div class="col-12 md:col-6 flex align-content-center align-items-center">
        <div class="zoom-img m-auto">
          <img loading="lazy"  src="assets/images/about-page/ourStory.webp">
        </div>
      </div>
      <div class="col-12 md:col-6 flex align-items-center">
        <p class="">
          For over 12 years, GeoScape Co. has been at the forefront of providing an
          extensive range of urban furniture, play, sports, and fitness equipment,
          as well as wood plastic composites. We are dedicated to transforming outdoor
          spaces with products that embody creativity, innovation, and the highest
          standards of quality. Our partnerships with distinguished manufacturers
          from around the globe ensure that we deliver durability and sustainability
          in with Saudi Arabia’s VISION 2030.
        </p>
      </div>
    </div>
  </p-fieldset>
</div>


<div class="my-4">
  <p-fieldset class="fieldset">
    <ng-template pTemplate="header">
      <div class="flex align-items-center gap-1 px-2">
        <p-avatar
          [image]="'assets/images/logo.webp'"
          shape="circle"/>
        <span class="font-bold greenColor ml-2">Our Services</span>
      </div>
    </ng-template>
    <div class="grid w-full mx-auto">
      <div class="col-12 md:col-6 flex align-items-center">
        <div>
          <p class=" px-0">
            At GeoScape, we offer a comprehensive suite of professional landscape services
            designed to meet the highest standards of quality. We leverage the best products
            available both in the Saudi Arabian and international markets to ensure excellence
            in every project. Our services include:
            Landscape Design: We create detailed 2D and 3D designs to bring your vision to life.
            Installation: Our team handles the complete installation process, guaranteeing the quality and
            longevity of our products and services.
            Maintenance Plans: We offer a variety of maintenance plans tailored to fit your specific needs,
            ensuring your landscape remains pristine year-round.
          </p>
        </div>
      </div>
      <div class="col-12 md:col-6 flex align-content-center align-items-center display-in-small-screen">
        <div class="zoom-img m-auto">
          <img loading="lazy"  src="assets/images/about-page/ourServices.webp">
        </div>
      </div>

    </div>

  </p-fieldset>
</div>


<div class="my-4">
  <p-fieldset class="fieldset">
    <ng-template pTemplate="header">
      <div class="flex align-items-center gap-1 px-2">
        <p-avatar
          [image]="'assets/images/logo.webp'"
          shape="circle"/>
        <span class="font-bold greenColor ml-2">Our Mission</span>
      </div>
    </ng-template>
    <div class="grid w-full mx-auto">
      <div class="col-12 md:col-6 flex align-content-center align-items-center">
        <div class="zoom-img m-auto">
          <img loading ="lazy" src="assets/images/about-page/ourMission.webp">
        </div>
      </div>
      <div class="col-12 md:col-6 flex  align-items-center">
        <div>
          <p class="">

            To be an integral part of our clients’ daily lives by offering
            top-tier local services, delivering professional technological
            solutions, and fostering relationships based on trust and reliability.
          </p>
        </div>
      </div>

    </div>
  </p-fieldset>
</div>


<div class="my-4">
  <p-fieldset class="fieldset">
    <ng-template pTemplate="header">
      <div class="flex align-items-center gap-1 px-2">
        <p-avatar
          [image]="'assets/images/logo.webp'"
          shape="circle"/>
        <span class="font-bold greenColor ml-2">Our Commitment</span>
      </div>
    </ng-template>
    <div class="grid w-full mx-auto">
      <div class="col-12 md:col-6  flex  align-items-center">
        <div>
          <p>
            Quality: We are committed to providing the highest quality products and services.
            Our rigorous standards ensure that every project we undertake is executed to perfection.
            Innovation: We continuously seek out innovative solutions and cutting-edge technologies
            to stay ahead in the industry.
            Sustainability: We are dedicated to sustainable practices, ensuring that our work not
            only meets current needs but also preserves the environment for future generations.
          </p>
        </div>
      </div>
      <div class="col-12 md:col-6 flex align-content-center align-items-center">
        <div class="zoom-img m-auto">
          <img loading="lazy"   src="assets/images/about-page/ourCommitment.webp">
        </div>
      </div>


    </div>
  </p-fieldset>
</div>

<div class="my-4">
  <p-fieldset class="fieldset">
    <ng-template pTemplate="header">
      <div class="flex align-items-center gap-1 px-2">
        <p-avatar
          [image]="'assets/images/logo.webp'"
          shape="circle"/>
        <span class="font-bold greenColor ml-2">Our Products</span>
      </div>
    </ng-template>
    <div class="grid w-full mx-auto">
      <div class="col-12  flex  align-items-center products">
        <div>
          <p>
            At GeoScape Co., we provide an extensive range of products to elevate and beautify outdoor environments:
          </p>
          <span class="block"><h4>Urban Furniture</h4> Elegant and durable furniture solutions for both public and private settings.
</span>
          <span class="block"><h4>Play Equipment</h4> Safe and captivating play structures suitable for children of all ages.
</span>
          <span class="block"><h4>Sports and Fitness Equipment</h4> Premium quality gear designed to encourage physical activity and well-being.
</span>
          <span class="block"><h4>Wood Plastic Composites</h4> Eco-friendly and versatile materials ideal for numerous applications.
</span>

        </div>
      </div>

    </div>
  </p-fieldset>
</div>

<div class="my-4">
  <p-fieldset class="fieldset">
    <ng-template pTemplate="header">
      <div class="flex align-items-center gap-1 px-2">
        <p-avatar
          [image]="'assets/images/logo.webp'"
          shape="circle"/>
        <span class="font-bold greenColor ml-2">Company Profile</span>
      </div>
    </ng-template>
    <div class="grid w-full mx-auto">
        <p>
          For a detailed overview of our company, services, and products, please download our comprehensive
          Company Profile.

        <a class="inline font-bold greenColor"  target="_self" routerLink="/main/uploadPdf/1">  Perview Profile

        </a>
        </p>

    </div>
  </p-fieldset>
</div>





<div class="my-4">
  <p-fieldset>
    <ng-template pTemplate="header">
      <div class="flex align-items-center gap-1 px-2">
        <p-avatar
          [image]="'assets/images/logo.webp'"
          shape="circle"/>
        <span class="font-bold greenColor ml-2">Our Clients <i class="fa-solid fa-people-robbery"></i> </span>
      </div>
    </ng-template>
    <div class="card">
      <p-carousel
        [value]="clients"
        [numVisible]="5"
        [numScroll]="1"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
        autoplayInterval="2000"

      >
        <ng-template let-client pTemplate="item">
          <div class="border-1 surface-border border-round m-2 p-3">
            <div class="mb-3">
              <div class="relative m-auto text-center">
                <img loading="lazy" width="100%" height="120px"
                     src="assets/images/about-page/client/{{ client.image }}"
                     [alt]="client.name"
                     class="border-round m-auto"/>

              </div>
            </div>
            <div class="mb-3 font-medium text-center">
              {{ client.name }}
            </div>

          </div>
        </ng-template>
      </p-carousel>
    </div>


  </p-fieldset>
</div>



