<div class="grid w-full mx-auto zoomin animation-duration-1000 animation-iteration-1">
  <div class="col-12 md:col-4 appear-in-mobile ">
    <div class="lg:w-10 w-12 m-auto ">
      <h3>Our Services</h3>
      <p-listbox
        [filter]="true"
        [options]="services"
        (onChange)="onChangeServices($event)"
        optionLabel="name"
        [style]="{ width: '100%' }"
        [listStyle]="{'max-height': '800px'}"
      >
        <ng-template let-service pTemplate="item">
          <div class="flex align-items-center gap-2">
            <img loading="lazy"
              [src]="'assets/images/services/'+ service.image"
              style="width: 50px"/>
            <div>{{ service.name }}</div>
          </div>
        </ng-template>
      </p-listbox>
    </div>
  </div>


  <div class="col-12  md:col-8 mt-3 md:mt-7  flex justify-content-center">
    <div *ngIf="isLoading" class="card  flex justify-content-center align-items-center">
      <p-progressSpinner
        styleClass="w-4rem h-4rem"
        strokeWidth="5"
        fill="var(--surface-ground)"
        animationDuration=".5s"/>
    </div>


    <div *ngIf="showSelectedProduct" class=" card flex justify-content-center align-items-center  loading-spinner">
      <div class="card flex-column justify-content-center align-items-center">
        <div class="flex justify-content-center align-items-center mt-4 zoomin animation-duration-1000 animation-iteration-1 ">
          <img loading="lazy" class="block" height="60" width="60" src="assets/images/logo.webp">
          <h4 class="mx-2">Please Select <span class="text-yellow-500">Geo</span>Scape
            Service</h4>

        </div>
      </div>
    </div>

    <div class="w-12 m-auto zoomin animation-duration-1000 animation-iteration-1 gallery-product" *ngIf="!isLoading && !showSelectedProduct" >
      <p-galleria
        [value]="selectedServices?.subImages"
        [showItemNavigators]="true"
        [responsiveOptions]="responsiveOptions"
        [containerStyle]="{ 'max-width': '100%' }"
        [numVisible]="4">
        <ng-template pTemplate="item" let-item>

          <img loading="lazy"  class="w-full" [style.border-radius]="'10px 10px 0px 0px '"
               [src]="'assets/images/service-details/'+ item?.image"
               alt="Image"
               width="100%" height="400">

        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
          <div class="grid w-full mx-auto grid-nogutter justify-content-center">
            <img loading="lazy" [src]="'assets/images/service-details/'+ item?.image" style="width:100px; height:60px;"/>
          </div>
        </ng-template>
      </p-galleria>


      <div><h3>{{ selectedServices?.name}}</h3></div>
      <div><p>{{ selectedServices?.description }}</p></div>
      <div><h3> Our Approach </h3></div>
      <div><p>{{ selectedServices?.whatWeDo}}</p></div>

    </div>


  </div>
  <div class="col-12 md:col-4 disappear-in-mobile">
    <div class="lg:w-10 w-12 m-auto ">
      <h3>Our Services</h3>
      <p-listbox
        [filter]="true"
        [options]="services"
        (onChange)="onChangeServices($event)"
        optionLabel="name"
        [style]="{ width: '100%' }"
        [listStyle]="{'max-height': '800px'}"
      >
        <ng-template let-service pTemplate="item">
          <div class="flex align-items-center gap-2">
            <img loading="lazy"
              [src]="'assets/images/services/'+ service.image"
              style="width: 50px"/>
            <div>{{ service.name }}</div>
          </div>
        </ng-template>
      </p-listbox>
    </div>
  </div>


</div>







