<div class="bg-image flex justify-content-center align-items-center
 zoomin animation-duration-1000 animation-iteration-1"
     style='background-image: url("assets/images/projects-page/ourProjects2.png")'>
  <div style="z-index: 100000;">
    <h2 class="text-center">Our Projects</h2>
    <h4 class="">" You can do anything you set your mind. "</h4>

  </div>
</div>
<div class="my-4 zoomin animation-duration-1000 animation-iteration-1">
  <p-fieldset>
    <ng-template pTemplate="header">
      <div class="flex align-items-center gap-1 px-2">
        <p-avatar
          [image]="'assets/images/logo.png'"
          shape="circle"/>
        <span class="font-bold">GEOSCAPE</span>
      </div>
    </ng-template>
    <p class="m-0">
      At Geoscape, we pride ourselves on delivering high-quality landscape and irrigation projects
      across various sectors. Our expertise spans from residential communities to large-scale
      infrastructure projects. Below is a showcase of our recent and ongoing projects, reflecting
      our commitment to excellence and innovation.</p>

    <div class="grid w-full mx-auto mt-5">
      @for (project of projects; track project) {
        <div class="col-12 sm:col-9 md:col-6 lg:col-4 xl:col-3 m-auto mb-3 ">
          <div class="card flex justify-content-center">
            <p-card header="">
              <ng-template pTemplate="header">
                <img alt="Card" [src]="'assets/images/services/'+ project.image"/>
              </ng-template>

              <span><p class="m-0 name-length"><span class="font-bold">Project : </span>{{ project.name }}<p></span>
              <span><p class="m-0 name-length"><span class="font-bold">Scope of Work : </span>{{ project.scopeOfWork }}<p></span>
              <span><p class="m-0"><span class="font-bold">Main Contractor : </span>{{ project.mainContractor }}</p></span>
              <span><p class="m-0"><span class="font-bold">Consultant : </span>{{ project.consultant }}</p></span>
              <span><p class="m-0"><span class="font-bold">Progress : </span>{{ project.progress }}</p></span>
              <span><p class="m-0"><span class="font-bold">Status : </span>{{ project.status }}</p></span>
              <span class="desc-length"><p class="m-0"><span class="font-bold">Description : </span>{{ project.description }}</p></span>
              <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1">
                  <button pButton label="Read More" class="w-full"
                          (click)="navigateToProjectDetails(project)"></button>
                </div>
              </ng-template>

            </p-card>
          </div>
        </div>
      }


    </div>

  </p-fieldset>
</div>
